*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-base-400: #5e5e5e;
  --clr-base-500: #494949;

  --clr-ui-300: #f8e2ff;
  --clr-ui-400: #580d3a;
  --clr-ux-300: #e2ffea;
  --clr-ux-400: #115926;
  --clr-dev-300: #e2fcff;
  --clr-dev-400: #024f4f;

  --ff-accent: "Podkova", serif;
  --ff-base: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 2.25rem;

  --shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.75rem;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  color: var(--clr-base-400);
}

.candidate * {
  margin: 0;
}

.candidate {
  padding: 0.5rem;
}

.candidate > img {
  border-radius: var(--border-radius);
}

.candidate > .name {
  font-family: var(--ff-accent);
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-base-500);
  line-height: 1;
  margin-block: 0;
}

.candidate > .roles {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.roles > .role {
  border-radius: var(--border-radius);
  background-color: var(--bg, var(--clr-ui-300));
  color: var(--fg, var(--clr-ui-400));
  padding-inline: 0.5rem;
  padding-block: 0.125rem;
}

.candidate > .btn {
  justify-self: end;
  align-self: self-end;
}

.candidate > .social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.clr-ui {
  --bg: var(--clr-ui-300);
  --fg: var(--clr-ui-400);
}

.clr-ux {
  --bg: var(--clr-ux-300);
  --fg: var(--clr-ux-400);
}

.clr-dev {
  --bg: var(--clr-dev-300);
  --fg: var(--clr-dev-400);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #7e47c5;
  color: white;
  font-size: var(--fw-700);
  text-transform: uppercase;
  text-decoration-line: none;
  padding-inline: 2.5rem;
  padding-block: 0.5rem;
  border-radius: var(--border-radius);
}

/* /////////////////
   Layout related
   no need to touch any of this
//////////////////*/

.candidates {
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  display: grid;
  gap: 2em;
}

.candidate {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "img social"
    "name name"
    "role role"
    "bio bio"
    "button button";
  gap: 0.5em;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

@media (min-width: 500px) {
  .candidate {
    grid-template-columns: min-content minmax(15rem, 22.5rem);
    grid-template-areas:
      "img name"
      "img role"
      "img bio"
      "social button";
  }
}

@media (min-width: 960px) {
  .candidates {
    grid-template-columns: repeat(2, 1fr);
  }
}

.candidate img {
  grid-area: img;
}
.candidate .name {
  grid-area: name;
}
.candidate .roles {
  grid-area: role;
}
.candidate .bio {
  grid-area: bio;
}
.candidate .social {
  grid-area: social;
}
.candidate .btn {
  grid-area: button;
}
